@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Shade&display=swap');

* {
    margin: 0;
    padding:0;
    font-weight: 300;
}

.hero {
    background-image: url("../Assets/Images/hero.bg.png");
    padding: 60px;
    height: 800px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.topnav-right * {
    float: right;
    display: inline-flex;
    padding: 0px 25px 100px;
}

.topnav-right ul li a {
    font-size:x-large;
    text-decoration: none;
    font-family: "Bungee Shade", cursive;
}

.container text-center {
    margin-top: 150px;
    text-align: center;
}

.rainbow-effect{
    background-color: #ffffff;
    border-radius: 4px;
    color: #0b0b0b;
    cursor: pointer;
    padding: 8px 16px;
}

.rainbow-effect:hover{
    background-image: linear-gradient(90deg,#00c0ff 0%, #ffcf00 49%, #fc4f4f 80%, #00c0ff 100%);
}

.kimberly-photo {
    background-image: url(../Assets/Images/Kimberly.png);
    background-size: cover;
    background-position: left top;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    border-style: solid;
    border-width: 8px;
    border-color: #e7bc22;
    text-align: center;
}

.quality-time {

    padding:100px 500px 250px;
}

.my-work {
 background-image: url(../Assets/Images/car.png);
 height: 910px;
 background-position: center;
 background-size: cover;
 position: relative;
 
}

.my-work h1 {
    font-family: "Bungee", cursive;
    font-size: xx-large;
    color:#ffffff;
    padding: 0px 120px 25px;

}

.about-me {
    background-image: url(../Assets/Images/wavy.png);
    height: 910px;
    background-position: center;
    background-size: cover;
    position: relative;
   }

   .about-me h1 {
    font-family: "Bungee Shade", cursive;
    font-size: xx-large;
    padding: 100px 410px 50px;
   }

   .about-me p {
    padding: 0px 300px 0px;
    font-size: x-large;
    font-family: "Bungee", cursive;
   }

.footer {
    font-family: "Bungee", cursive;
    background-color: #e7bc22;
}

.footer-content {
    margin-top: auto;
    margin-bottom: auto;
    vertical-align: middle;
    padding: 25px 15px
}
.footer h1 {
    font-size: xx-large;
    display: inline;
    padding-left: 50px;;
}

.footer ul {
    float:right;
    display: inline;
}

.footer ul li {
    justify-content: space-around;
    display: inline;
}

.footer ul li a {
    font-size:x-large;
    text-decoration: none;
    font-family: "Bungee Shade", cursive;
    justify-content: space-around;
    margin: 0px 50px;
}
